<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @ViewBag.Title
    </title>
    <link href="~/css/Main.css" rel="stylesheet" />
    <script src="~/js/lib/Vue.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/Main.js"></script>
</body>
</html>
